<section class="section-base hero-grad hero" id="hero">
        <div class="container">

                <h1 class="hero-title">Hello.<br>
                        I'm Fullstack developer Lloyd Jefferson.</h1>
                <ul class="hero-list">
                        <li class="hero-list-item"><a href="https://www.instagram.com/goitclub/  "
                                        class="hero-list-link" target="_blank" rel="noopener noreferrer nofollow">IG</a></li>
                        <li class="hero-list-item"><a href="https://www.facebook.com/goITclub/"
                                        class="hero-list-link" target="_blank" rel="noopener noreferrer nofollow">FB</a></li>
                        <li class="hero-list-item"><a href="https://www.youtube.com/c/GoIT"
                                        class="hero-list-link" target="_blank" rel="noopener noreferrer nofollow">YT</a></li>
                        <li class="hero-list-item"><a
                                        href="https://github.com/Sviatoslav-lion/project-ProCoders-8"
                                        class="hero-list-link" target="_blank" rel="noopener noreferrer nofollow">GH</a></li>
                        <li class="hero-list-mail"><a href="mailto:lloydjefferson@gmail.com"
                                        class="hero-list-link"
                                        target="_blank" rel="noopener noreferrer nofollow">lloydjefferson@gmail.com</a></li>
                </ul>
        </div>
</section>