<section class="section-base">
    <div class="container">
        03-about_me
        <h2>Перегляд всіх іконок</h2>
    <div class="icon-container">
        <div class="icon-test">
            <svg><use href="/images/sprite.svg#javascript"></use></svg>
            <div class="icon-label-test">javascript</div>
        </div>
        <div class="icon-test">
            <svg><use href="/images/sprite.svg#logo"></use></svg>
            <div class="icon-label-test">logo</div>
        </div>
        <div class="icon-test">
            <svg><use href="/images/sprite.svg#menu"></use></svg>
            <div class="icon-label-test">menu</div>
        </div>
        <div class="icon-test">
            <svg><use href="/images/sprite.svg#cross"></use></svg>
            <div class="icon-label-test">cross</div>
        </div>
        <div class="icon-test">
            <svg><use href="/images/sprite.svg#up"></use></svg>
            <div class="icon-label-test">up</div>
        </div>
        <div class="icon-test">
            <svg><use href="/images/sprite.svg#down"></use></svg>
            <div class="icon-label-test">down</div>
        </div>
        <div class="icon-test">
            <svg><use href="/images/sprite.svg#arrow_right"></use></svg>
            <div class="icon-label-test">arrow_right</div>
        </div>
        <div class="icon-test">
            <svg><use href="/images/sprite.svg#arrow_left"></use></svg>
            <div class="icon-label-test">arrow_left</div>
        </div>
        <div class="icon-test">
            <svg><use href="/images/sprite.svg#expertise"></use></svg>
            <div class="icon-label-test">expertise</div>
        </div>
        <div class="icon-test">
            <svg><use href="/images/sprite.svg#communication"></use></svg>
            <div class="icon-label-test">communication</div>
        </div>
        <div class="icon-test">
            <svg><use href="/images/sprite.svg#art"></use></svg>
            <div class="icon-label-test">art</div>
        </div>
        <div class="icon-test">
            <svg><use href="/images/sprite.svg#urgent_execution"></use></svg>
            <div class="icon-label-test">urgent_execution</div>
        </div>

    </div>
    </div>

</section>
