<section class="section-base">
    <div class="container">
        03-about_me
        <h2>Перегляд всіх іконок</h2>
    <div class="icon-container">
        <div class="icon">
            <svg><use href="/images/sprite.svg#javascript"></use></svg>
            <div class="icon-label">javascript</div>
        </div>
        <div class="icon">
            <svg><use href="/images/sprite.svg#logo"></use></svg>
            <div class="icon-label">logo</div>
        </div>
        <div class="icon">
            <svg><use href="/images/sprite.svg#menu"></use></svg>
            <div class="icon-label">menu</div>
        </div>
        <div class="icon">
            <svg><use href="/images/sprite.svg#cross"></use></svg>
            <div class="icon-label">cross</div>
        </div>
        <div class="icon">
            <svg><use href="/images/sprite.svg#up"></use></svg>
            <div class="icon-label">up</div>
        </div>
        <div class="icon">
            <svg><use href="/images/sprite.svg#down"></use></svg>
            <div class="icon-label">down</div>
        </div>
        <div class="icon">
            <svg><use href="/images/sprite.svg#arrow_right_in_circle"></use></svg>
            <div class="icon-label">arrow_right_in_circle</div>
        </div>
        <div class="icon">
            <svg><use href="/images/sprite.svg#arrow_left"></use></svg>
            <div class="icon-label">arrow_left</div>
        </div>
        <div class="icon">
            <svg><use href="/images/sprite.svg#expertise"></use></svg>
            <div class="icon-label">expertise</div>
        </div>
        <div class="icon">
            <svg><use href="/images/sprite.svg#communication"></use></svg>
            <div class="icon-label">communication</div>
        </div>
        <div class="icon">
            <svg><use href="/images/sprite.svg#art"></use></svg>
            <div class="icon-label">art</div>
        </div>
        <div class="icon">
            <svg><use href="/images/sprite.svg#urgent_execution"></use></svg>
            <div class="icon-label">urgent_execution</div>
        </div>

    </div>
    </div>

</section>
