<section class="reviews" id="reviews">
    <div class="container">
        <h2 class="reviews-title">REVIEWS</h2>
        <div class="swiper swiper-reviews">
            <ul class="swiper-wrapper reviews-swiper-wrapper"></ul>
            <div class="reviews-swiper-btn-container reviews-btn-wrap">
                <button type="button" class="reviews-prev-btn base-button-style" aria-label="Previous slide">
                    <svg class="slider-icon" width="25px" height="25px">
                        <use href="/images/sprite.svg#arrow_left"></use>
                    </svg>
                </button>
                <button type="button" class="reviews-next-btn base-button-style" aria-label="Next slide">
                    <svg class="slider-icon" width="25px" height="25px">
                        <use href="/images/sprite.svg#arrow_right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>