<footer class="footer-base">
  <div class="container footer-content">
    <div class="footer-header">
      <picture>
        <source
          srcset="./images/work-together/footer-foto-tablet.png"
          media="(min-width: 768px)"
        />
        <img
          class="footer-image"
          src="./images/work-together/footer-foto-mobile.png"
          alt="foto"
        />
      </picture>

      <h2 class="footer-title">
        <span class="footer-title-top"
          >LET’S <span class="footer-title-color">WORK</span></span
        >
        <span class="footer-title-bottom">TOGETHER</span>
      </h2>
    </div>

    <form class="footer-contact-form js-footer-contact-form" novalidate>
      <div class="footer-contact-container">
        <ul class="footer-contact-list">
          <li class="footer-contact-item">
            <input
              class="footer-contact-input footer-contact-input-email js-footer-contact-input"
              type="email"
              placeholder="clients@gmail.com"
            />
          </li>
          <li class="footer-contact-item">
            <input
              class="footer-contact-input js-footer-contact-input"
              type="text"
              placeholder="comments"
            />
          </li>
        </ul>
        <button class="send-btn" type="submit">Send</button>
      </div>
      <ul class="footer-contact-info-list">
        <li class="footer-contact-info-item">
          <a
            class="footer-contact-info-link footer-contact-info-link-email"
            href="mailto:lloydjefferson@gmail.com"
          >
            lloydjefferson@gmail.com
          </a>
        </li>
        <li class="footer-contact-info-item">
          <a
            class="footer-contact-info-link footer-contact-info-link-phone"
            href="tel:+3801111111111"
          >
            +380 11 1111 11 11
          </a>
        </li>
      </ul>
    </form>
  </div>
  <div class="footer-modal-backdrop js-footer-modal-backdrop">
    <div class="footer-modal">
      <button class="footer-close-btn js-footer-close-btn" type="button">
        <svg width="24" height="24" aria-hidden="true">
          <use
            class="footer-close-btn-icon"
            href="./images/sprite.svg#cross"
          ></use>
        </svg>
      </button>
      <h2 class="footer-modal-title js-footer-modal-title"></h2>
      <p class="footer-modal-tex js-footer-modal-tex"></p>
    </div>
  </div>
</footer>
