<div class="mobile-menu" data-menu>
  <div class="container mobile-menu-container">
    <button class="mobile-menu-btn-close" type="button" data-menu-close>
      <svg
        width="28"
        height="28"
        viewBox="0 0 28 28"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M21 7L7 21"
          stroke="#FAFAFA"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M7 7L21 21"
          stroke="#FAFAFA"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-nav-list">
        <li class="mobile-menu-nav-items">
          <a class="mobile-menu-nav-link" href="#" target="_blank">About me</a>
        </li>
        <li class="mobile-menu-nav-items">
          <a class="mobile-menu-nav-link" href="#" target="_blank">Benefits</a>
        </li>
        <li class="mobile-menu-nav-items">
          <a class="mobile-menu-nav-link" href="#" target="_blank">Projects</a>
        </li>
        <li class="mobile-menu-nav-items">
          <a class="mobile-menu-nav-link" href="#" target="_blank">FAQ</a>
        </li>
      </ul>
    </nav>
    <a class="mobile-order-btn" href="#your-order" target="_blank"
      >Order the project</a
    >
  </div>
</div>
