<div class="mobile-menu" data-menu>
  <div class="container mobile-menu-container">
    <button class="mobile-menu-btn-close" type="button" data-menu-close>
      <svg class="mobil-icon-close" width="28" height="28">
        <use class="use-icon" href="/images/sprite.svg#cross"></use>
      </svg>
    </button>
    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-nav-list">
        <li class="mobile-menu-nav-items">
          <a class="mobile-menu-nav-link" href="#about">About me</a>
        </li>
        <li class="mobile-menu-nav-items">
          <a class="mobile-menu-nav-link" href="#benefits">Benefits</a>
        </li>
        <li class="mobile-menu-nav-items">
          <a class="mobile-menu-nav-link" href="#projects">Projects</a>
        </li>
        <li class="mobile-menu-nav-items">
          <a class="mobile-menu-nav-link" href="#faq">FAQ</a>
        </li>
      </ul>
    </nav>
    <a class="mobile-order-btn" href="#work">Order the project</a>
  </div>
</div>
