.header-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  padding-top: 32px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header-logo {
  display: flex;
  gap: 8px;
}

.header-nav {
  padding: 10px;
}

.menu-desk-tabl-btn {
  background-color: transparent;
  border: none;

  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fafafa;
}

.item-menu-hidden {
  display: none;
}

.order-btn {
  display: flex;
  border-radius: 60px;
  padding: 18px 24px;

  background-color: #ed3b44;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .header-menu,
  .order-btn,
  .menu-desk-tabl-btn {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .header-menu-mobile {
    display: none;
  }
}
