/* =================================Mobile=======================*/
.hero .container {
  position: relative;
  z-index: 98;
}
.hero.hero-grad {
  position: relative;
  min-height: 100vh;
  padding: 32px 0;
  width: 100vw;
  background: linear-gradient(-90deg, #1c1d20 50%, #001958 68%, #0041e8 100%);
  background-size: cover;
  background-position: center;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 90vw;
  height: 100%;
  background: url('/images/hero/hero-mobile.png') no-repeat left center;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.hero-title {
  width: 100%;
  max-height: 250px;
  margin-top: 249px;
  margin-bottom: 212px;
}
.hero-list {
  display: flex;
  gap: 4px;
}
.hero-list-item {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 6px 6px;
  min-width: 37px;
  min-height: 37px;
  text-align: center;
}
.hero-list-mail {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 6px 12px;
  min-width: 178px;
  min-height: 37px;
}
.hero-list-link {
  font-weight: 500;
  font-size: 14px;
}
@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero::before {
    background: url('/images/hero/hero-mobile@2x.png') no-repeat left center;
    background-size: cover;
    background-position: center;
  }
}
/*================================/Mobile=======================*/
/*=================================Tablet=======================*/
@media only screen and (min-width: 768px) {
  .hero::before {
    background: url('/images/hero/hero-tablet.png') no-repeat left center;
    background-size: cover;
    width: 85vw;
  }
  .hero-title {
    width: 632px;
    max-height: 450px;
    margin-top: 268px;
    margin-bottom: 187px;
  }
  .hero-list {
    gap: 8px;
    margin-left: 231px;
  }
  .hero-list-item {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 14px;
    min-width: 55px;
    min-height: 55px;
  }
  .hero-list-mail {
    padding: 14px 24px;

    min-width: 223px;
    min-height: 55px;
  }
  .hero-list-link {
    font-size: 16px;
  }
}
@media screen and (min-width: 767px) and (min-resolution: 192dpi) {
  .hero::before {
    background: url('/images/hero/hero-tablet@2x.png') no-repeat left center;
    background-size: cover;
    background-position: center;
  }
}
/*=================================/Tablet=======================*/
/*=================================Desktop=======================*/
@media only screen and (min-width: 1440px) {
  .hero::before {
    background: url('/images/hero/hero-desktop.png') no-repeat left center;
    background-size: cover;
    width: 50vw;
  }
  .hero-title {
    width: 1084px;
    max-height: 270px;
    margin-left: 146px;
    margin-bottom: 243px;
  }
  .hero-list {
    margin-left: 903px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .hero::before {
    background: url('/images/hero/hero-desktop@2x.png') no-repeat left center;
    background-size: cover;
    background-position: center;
  }
}
/*================================/Desktop======================= */
