/* ===== АККОРДЕОН ===== */
.accordion {
    width: 343px;
    margin-top: 20px;
    list-style: none;
    padding: 0;
    margin-left: 32px;
}

.accordion-item {
    background: #1e1e1e;
    /* border-radius: 8px; */
    /* margin-bottom: 20px; */
    overflow: hidden;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.accordion-header {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -2%;
    color: #FAFAFA66;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-weight: bold;
    gap: 23px;
}

.accordion-content {
    /* padding: 16px; */
    padding-bottom: 20px;
    display: none;
    /* margin-top: 12px; */
    gap: 32px;
    font-weight: 500;
    size: 16px;
    line-height: 24px;
    letter-spacing: -2%;
    font: inter tight;

}

.about-me-text {
    gap: 10px;
    margin-bottom: 32px;
}

.role-text {
    margin-bottom: 10px;
}

.education-text {
    margin-top: 10px;
}

.accordion-item.open .accordion-content {
    display: block;
}

.arrow {
    font-size: 16px;
}

@media screen and (min-width: 768px) {
    .accordion {
        width: 704px;
        margin-top: 64px;
    }

    .accordion-header {
        font-size: 14px;
        /* padding: 12px; */
        padding-top: 32px;
    }

    .accordion-content {
        /* padding: 12px; */
        padding-bottom: 32px;
    }
}


@media screen and (min-width: 1440px) {
    .accordion {
        width: 1376px;
    }

    .accordion-header {
        font-size: 14px;
        /* padding: 12px; */
    }

    .accordion-content {
        width: 50%;
        width: 612px;
    }

    .about-me-text {
        width: 50%;
    }
}

.icon {
    display: none;
    /* Ховаємо всі іконки за замовчуванням */
}

.icon.closed {
    display: inline-block;
    /* Показуємо іконку "закрити" */
}

.accordion-item.open .icon.closed {
    display: none;
    /* Ховаємо "закрити", якщо елемент відкритий */
}

.accordion-item.open .icon.open {
    display: inline-block;
    /* Показуємо іконку "відкрити" */
}