:root {
  --bg-benefits-section: #1C1D20;
  --bg-svg-benefits-item: #0041E8;
  --bg-benefits-item: #242527;
  --col-benefits-title: rgba(250, 250, 250, 0.40);
  --col-benefits-item-title: #FAFAFA;
  --col-benefits-item-text:rgba(250, 250, 250, 0.60);
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.benefits {
background-color: var(--background);
}
.benefits-container {
  max-width: 363px;
  height: auto;

  padding-inline: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}
.benefits-title {
  display: inline;
  font-weight: 600;
  line-height: 1.5; /* 150% */
  letter-spacing: -0.32px;
  text-transform: uppercase;
  color: var(--col-benefits-title);
  margin-block-end: 32px;
}
.benefits-components {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.benefits-list {
  display: grid;
  grid-template-columns: repeat(1fr, minmax(200px, 344px));
  grid-template-rows: 270px;
  gap: 16px;
}

.benefits-item {
  max-width: 344px;
  padding: 24px;
border-radius: 20px;
background-color:var(--bg-benefits-item);
}
.benefits-icon-container {
  max-width: 48px;
  max-height: 48px;

  padding: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  background: var(--bg-svg-benefits-item);
  overflow: hidden;
margin-bottom: 64px;

}

.benefits__item-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.benefits-item-title {
  font-size: 20px;

font-weight: 600;
line-height: 1.5; /* 150% */
letter-spacing: -0.4px;
color: var(--col-benefits-item-title);
margin: 0;
margin-bottom: 8px;
}

.benefits-item-text  {
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: -0.03em;
  color: var(--col-benefits-item-text);
  margin: 0;
}
.benefits-item-text *:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .benefits-container{
    max-width: 768px;
    max-height: 797px;
    padding: 0 32px;
  }
  .benefits-components {
    gap: 64px;
  }
  .benefits-list {
    grid-template-columns: 344px 344px;

    gap: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .benefits{
    /* height: fit-content; */
  }
  .benefits-container {
    max-width: 1440px;
    max-height: 675px;
   
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }
  .benefits-components {
    max-width: 680px;
    max-height: 675px;
   row-gap: 64px;
  }
  .benefits-list {
    grid-template-columns: 332px 332px;
    grid-template-rows: 270px;
    gap: 16px;
  }
  .benefits-item {
max-width: 322px;
height: 270px;
  }
}
/* btn */
.btn-benefit {
  position: relative;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.20);
  transition: all 0.3s;
  z-index: 3;
 width: 186px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-benefit:focus,
.btn-benefit:hover {
  /* border: 1px solid var(--bg-svg-benefits-item);
  color: var(--bg-svg-benefits-item); */
  border-color: #fafafa;
}



/* btn shine */

.btn-shine {
border: 1px solid rgba(250, 250, 250, 0.20);
  border-radius: 20px;
z-index: 3;
box-shadow: 2px 2px 4px 0 #363001, -2px 0px 4px 0 #b7b3b3;
}

.btn-shine::before {
  content: '';
  position: absolute;
  inset: 0;
  width: calc(100% + 19px);
  height: calc(100% + 9px);
transform: translateX(60%);
  background: linear-gradient(45deg, #fff 5%, #ffaa81 30%, #ffda9f 37%, rgba(255, 170, 129, .5) 49%, rgba(210, 106, 58, 0) 92%);
transform: translateX(60%);
filter: blur(45px);
z-index: -1;
}
.btn-shine:hover::before {
  background: linear-gradient(45deg, #fff 5%, #ffaa81 30%, #fcfbfd 37%, rgba(249, 96, 1, 0.5) 49%, rgba(210, 106, 58, 0) 92%);
}

.btn-shine::after {
  content: '';
  position: absolute;
  top: 20%;
left: 70%;
   width: 20%;
  height: 70%;

  filter: blur(1px);
  transform: translateX(0);
  border-radius: 60px;
  background: radial-gradient(#fff 5%, #ffaa81 30%, #ffda9f 37%, rgba(255, 170, 129, .5) 49%, rgba(210, 106, 58, 0) 92%);
  filter: blur(13px);
  z-index: -1;
  transform: translateX(60%);
}
.btn-shine:hover .btn-shine::after {
  top: 0;
  left: 0;
     width: 100%;
    height: 100%;
  background: radial-gradient(#fff 5%, #ffaa81 30%, #ffda9f 37%, rgba(255, 170, 129, .5) 49%, rgba(210, 106, 58, 0) 92%);
  filter: blur(20px);
  transform: translateX(0);
}



/* ---cart-gradient--- */
.gradient-card {
  background: linear-gradient(20deg, transparent 0%, transparent 50%, rgba(0, 65, 232, 0.7) 100%);
  box-shadow: -2px -3px 4px 0 #7b7979, 2px 3px 4px 0 #0d0430;
}

/* --svg-shadow */
.shadow-3d {
  box-shadow: -2px -2px 3px 0#f2f0f0, 2px 3px 4px 0#0d0430;
}