/* Styles for Mobile devices 
section {
    padding: 32px 0;
  }
  .container {
    min-width: 320px;
    max-width: 375px;
    margin: 0 auto;
    padding: 0 16px;
  }
  /* Styles for Tablet devices
  @media only screen and (min-width: 768px) {
    section {
      padding: 48px 0;
    }
    .container {
      max-width: 768px;
      padding: 0 32px;
    }
  }
  /* Styles for Desktop devices 
  @media only screen and (min-width: 1440px) {
    section {
      padding: 82px 0;
    }
    .container {
      max-width: 1440px;
    }
  }
  */

/* Styles for Mobile devices  */

.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}

.projects-heading {
  margin-bottom: 32px;
}
.swiper-prj {
  margin-bottom: 32px;
}
/* project card -> upper part START */
.project-upper-container {
  background-color: #fafafa;

  padding: 32px 32px 32px 32px;
  border-radius: 24px 24px 0 0;
}

.projects-tags-container {
  margin-bottom: 96px;
}

.projects-tags-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 6px;
}

.projects-tag-text {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #1c1d20;

  white-space: nowrap;

  display: flex;
  align-items: center;
  padding: 13px 18px 13px 18px;
  border: 1px solid rgba(28, 29, 32, 0.2);
  border-radius: 60px;

  max-height: 45px;
}

.projects-large-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  color: #1c1d20;

  margin-bottom: 32px;
  min-width: 82px;
}
.projects-link-button {
  display: flex;
  align-items: center;
  border-radius: 60px;
  justify-content: center;
  width: 141px;
  height: 45px;

  background-color: #0041e8;

  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;

  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-link-button:hover,
.projects-link-button:focus {
  background-color: #0633a5;
}
/* project card -> upper part END */

/* project card -> lower part START */
.projects-picture-container {
  display: flex;
  background-color: #242527;
  justify-content: center;

  border-radius: 0 0 24px 24px;
  padding: 100px 16px 100px 16px;
}
/* project card -> lower part END */
/*Custom Sliders START */
.projects-sliders-container {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 12px;
}
.slider-button {
  width: 52px;
  height: 52px;

  padding: 14px 14px;
  border-radius: 60px;
}
.slider-icon {
  width: 25px;
  height: 24px;
}

.slider-button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

/* Styles for Tablet devices*/
@media only screen and (min-width: 768px) {
  section {
    padding: 48px 0;
  }
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .swiper-prj {
    margin-bottom: 64px;
  }
  /* project card -> upper container START */
  .project-upper-container {
    padding: 64px 64px 64px 64px;
  }
  .projects-tags-container {
    margin-bottom: 164px;
  }
  .projects-tag-text {
    max-height: 55px;

    padding: 18px 18px 18px 18px;
  }
  .projects-large-text {
    font-size: 44px;
    line-height: 1;

    max-width: 494px;
  }
  .projects-link-button {
    width: 177px;
    height: 55px;
  }
  /* project card -> Picture container START */
  .projects-picture-container {
    padding: 120px 45px 120px 45px;
  }
  /*  project card -> Picture container   END */
  /* project card -> upper container END */
  /* Custom Sliders START */
  .projects-sliders-list {
    gap: 20px;
  }
  .slider-button {
    width: 68px;
    height: 68px;

    padding: 18px 18px;
  }
  .slider-icon use {
    transform: scale(1.33);
    transform-origin: center;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  section {
    padding: 82px 0;
  }
  .container {
    max-width: 1440px;
  }
  .projects-card-container {
    display: flex;
    justify-content: center;
  }
  .project-upper-container {
    border-radius: 24px 0 0 24px;
    padding: 64px 130px 64px 64px;
  }
  .projects-tags-container {
    margin-bottom: 223px;
  }
  .projects-picture-container {
    padding: 120px 37px 120px 37px;
    border-radius: 0 24px 24px 0;
  }
}
