.footer-content {
  background-image: url('./images/work-together/footer-img-fon-mobile.png');
  background-size: 90px;
  background-position: right;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.footer-base {
  padding: 32px 0 32px 0;
}

.footer-header {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 63px;
}

.footer-image {
  position: absolute;
  width: 44px;
  height: 44px;
}

.footer-title-top {
  display: inline-block;
  margin-left: 52px;
  margin-bottom: 8px;
}

.footer-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
}

.footer-title-color {
  background: linear-gradient(45deg, #0041e8, #0066ff, #00aaff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.footer-contact-input {
  width: 100%;
  max-width: 343px;
  height: 44px;
  border: none;
  text-overflow: ellipsis;
  outline: none;
  color: #fafafa99;
  border-bottom: 1px solid #fafafa33;
  background-color: transparent;
  padding-bottom: 20px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact-input-email {
  margin-bottom: 16px;
}

.footer-contact-input:hover,
.footer-contact-input:focus {
  border-color: #fafafa80;
}

.footer-contact-input::placeholder {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa99;
  outline: none;
}

.footer-contact-list {
  margin-bottom: 32px;
}

.send-btn {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 64px;
}

.send-btn:hover,
.send-btn:focus {
  background-color: #0041e8;
}

.footer-contact-info-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 4px;
  justify-content: flex-start;
}

.footer-contact-info-link {
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact-info-link:focus,
.footer-contact-info-link:hover {
  border-color: #fafafa;
}

.footer-contact-info-link-email {
  width: 178px;
}

.footer-contact-info-link-phone {
  width: 118px;
}

/* Для планшетов (с 768px) */

@media (min-width: 768px) {

  .footer-content {
    background-image: url('./images/work-together/footer-img-fon-tablet.png');
    background-size: 193px;

  }

  .footer-base {
    padding: 80px 0 169px 0;
  }

  .footer-header {
    margin-bottom: 64px;
  }

  .footer-image {
    width: 70px;
    height: 70px;
  }

  .footer-title-top {
    margin-left: 90px;
    margin-bottom: 10px;
  }

  .footer-title {
    display: flex;
    flex-direction: column;
    font-size: 64px;
  }

  .footer-contact-input {
    width: 245px;
  }

  .footer-contact-container {
    margin-bottom: 64px;
  }

  .footer-contact-input-email {
    margin-bottom: 0px;
  }

  .footer-contact-container {
    display: flex;
    gap: 32px;
    align-items: center;
    margin-bottom: 18px;
  }

  .footer-contact-list {
    display: flex;
    gap: 32px;
  }

  .send-btn {
    margin-bottom: 0;
    width: 150px;
    height: 150px;
  }

  .footer-contact-info-list {
    gap: 8px;
  }

  .footer-contact-info-link {
    font-size: 16px;
    height: 55px;
  }

  .footer-contact-info-link-email {
    width: 239px;
  }

  .footer-contact-info-link-phone {
    width: 171px;
  }


}


/* Для десктопов (с 1440px) */
@media (min-width: 1440px) {
  .footer-content {
    background-image: url('./images/work-together/footer-img-fon-desktop.png');
    background-size: 399px;

  }

  .container.footer-content {
    padding: 0 169px;
  }

  .footer-title {
    display: flex;
    flex-direction: column;
  }

  .footer-contact-input {
    width: 390px;
    max-width: none;
  }

  .footer-contact-container {
    width: 100%;
    margin-bottom: 78px;
    gap: 0;
  }

  .footer-contact-list {
    width: 100%;
    gap: 28px;
  }

}


.footer-modal-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 16, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #1c1d20;
  overflow: hidden;
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 20px;
  padding: 64px 32px;
  width: 343px;
  height: 276px;
}

.footer-modal-backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
}

.footer-modal-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fafafa;
  margin-bottom: 16px;
}

.footer-modal-tex {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fafafa99;
}

.footer-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.footer-close-btn:hover .svg-icon {
  stroke: #d2d8d8;
}

.footer-close-btn-icon {
  transform: scale(0.5);
  transform-origin: center;
}

@media only screen and (min-width: 768px) {
  .footer-modal {
    padding: 64px;
    width: 492px;
    height: 246px;
  }

  .footer-close-btn {
    width: 24px;
    height: 24px;
  }
}


.footer-error-message {
  font-size: 14px;
  margin-top: 5px;
  color: red;
  opacity: 0;
  transform: translateY(5px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.footer-error-message.success {
  color: green;
}

.footer-contact-input-email:focus+.footer-error-message,
.footer-contact-input-email:valid+.footer-error-message {
  opacity: 1;
  transform: translateY(0);
}


.footer-contact-input.invalid {
  border-color: red;
}


.footer-contact-input.valid {
  border-color: green;
}
