/*
.inter-tight-<uniquifier> {
  font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
------------------------------------------------------------------------- */

/* inter regular */
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter-v18-latin-regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/* inter 500 */
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter-v18-latin-500.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

/* inter 600 */
@font-face {
  font-family: 'Intrt';
  src: url('../fonts/inter-v18-latin-600.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

/* inter 700 */
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter-v18-latin-700.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* ---------------------------------------------------------------------------- */
