/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./01-header.css');
@import url('./02-hero.css');
@import url('./03-about_me.css');
@import url('./04-benefits.css');
@import url('./05-projects.css');
@import url('./06-faq.css');
@import url('./07-covers.css');
@import url('./08-reviews.css');
@import url('./09-work_together.css');
@import url('./10-menu.css');
@import url('./11-pop-up.css');

/* перегляд icons */
    .icon-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .icon-test svg {
      width: 90px;
      height: 50px;

      fill: currentColor;
    }
    .icon-label-test {
        margin-top: 5px;
        font-size: 14px;
    }